*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    /* font size Now 1rem = 10px (62.5%) 
    initially 16px. It makes us easier to calcurate font size */
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
h1 {
    font-family: 'Baloo', cursive;
    font-size: 4.4rem;  /* 44px */
    letter-spacing: 1.6px;
    font-weight: normal;
}
h2 {
    font-family: 'Baloo', cursive;
    font-size: 3rem;
    letter-spacing: 0.64px;
    font-weight: normal;
}
h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

